{
    "output.folder": "C:/habbo-translator/",
    "furnidata-from.load.url": "https://www.habbo.com/gamedata/furnidata_xml/428f282848b5a3af84c9b67e153584a6483f651e",
    "furnidata-to.load.url": "CHANGETHIS/furnidata.xml"
  }
  